* {
  font-family: "Gothic A1", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

  padding-top: 16vh;
  background-color: #fafafa;
}

.app {
  color: #202020;
  user-select: none;
}

.title {
  letter-spacing: -1.8px;
  font-size: 28px;
  font-weight: 800;
}

.input-form {
  margin: 12px 2px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-row {
  display: flex;

  align-items: center;
  gap: 5px;
}

.input-label {
  width: 70px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -1.4px;
}

.number-input {
  width: 110px;
  padding: 6px 0px 4px 10px;

  background-color: #f3f3f3;
  border-radius: 30px;

  border: 0.5px solid #eaeaea;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  text-align: right;

  &::placeholder {
    color: #bbb;
  }
}

.execute-row {
    width: 100%;
    display: flex;
    justify-content: end;
}

.execute-btn {
  padding: 5px 15.5px 3px 12px;
  background-color: #fafafa;
  color: #202020;

  border-radius: 30px;
  border: 1.5px solid #202020;
  outline: none;

  letter-spacing: -2px;
  font-size: 16.5px;
  font-weight: 500;

  &:hover {
    cursor: pointer;
  }
}
